In [1]:
import pandas as pd

df = pd.read_csv('pre_processed.csv', index_col=0)

print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20205 entries, 1 to 20205
Data columns (total 89 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   type        20205 non-null  object
 1   accessno    20028 non-null  object
 2   caption     1096 non-null   object
 3   catby       18071 non-null  object
 4   catdate     19708 non-null  object
 5   cattype     20193 non-null  object
 6   classes     534 non-null    object
 7   collection  5236 non-null   object
 8   collector   195 non-null    object
 9   conddate    18998 non-null  object
 10  condexam    19150 non-null  object
 11  condition   19821 non-null  object
 12  condnotes   13792 non-null  object
 13  creator     279 non-null    object
 14  date        3248 non-null   object
 15  descrip     20162 non-null  object
 16  dimnotes    3724 non-null   object
 17  dimtype     20205 non-null  int64
 18  earlydate   20205 non-null  int64
 19  event       413 non-null    object
 20  exhibitno   20205 non-null  int64
 21  exhlabel1   1425 non-null   object
 22  exhlabel2   139 non-null    object
 23  exhlabel3   1418 non-null   object
 24  exhstart    825 non-null    object
 25  found       378 non-null    object
 26  gparent     18451 non-null  object
 27  heightin    20205 non-null  float64
 28  homeloc     19381 non-null  object
 29  imageno     20205 non-null  int64
 30  inscrlang   182 non-null    object
 31  inscrpos    269 non-null    object
 32  inscrtech   225 non-null    object
 33  inscrtext   277 non-null    object
 34  inscrtype   280 non-null    object
 35  invnby      18121 non-null  object
 36  invndate    18140 non-null  object
 37  latedate    20205 non-null  int64
 38  legal       197 non-null    object
 39  lengthin    20205 non-null  float64
 40  loaninno    174 non-null    object
 41  locfield1   18570 non-null  object
 42  locfield2   17407 non-null  object
 43  locfield3   16111 non-null  object
 44  locfield4   14948 non-null  object
 45  locfield5   897 non-null    object
 46  locfield6   11127 non-null  object
 47  made        1345 non-null   object
 48  maintcycle  215 non-null    object
 49  maintdate   18698 non-null  object
 50  maintnote   1574 non-null   object
 51  material    13013 non-null  object
 52  medium      167 non-null    object
 53  mmark       363 non-null    object
 54  notes       5431 non-null   object
 55  objectid    20205 non-null  object
 56  objname     20204 non-null  object
 57  oldno       1677 non-null   object
 58  origin      323 non-null    object
 59  othername   2441 non-null   object
 60  otherno     4352 non-null   object
 61  owned       4317 non-null   object
 62  parent      18451 non-null  object
 63  people      2304 non-null   object
 64  provenance  1002 non-null   object
 65  recas       19068 non-null  object
 66  recdate     14059 non-null  object
 67  recfrom     19939 non-null  object
 68  site        3511 non-null   object
 69  siteno      612 non-null    float64
 70  species     17868 non-null  object
 71  status      19299 non-null  object
 72  statusby    19148 non-null  object
 73  statusdate  19176 non-null  object
 74  sterms      3077 non-null   object
 75  subjects    11836 non-null  object
 76  tempauthor  201 non-null    object
 77  tempdate    199 non-null    object
 78  temploc     249 non-null    object
 79  title       937 non-null    object
 80  tlocfield1  228 non-null    object
 81  tlocfield3  124 non-null    object
 82  tlocfield4  124 non-null    object
 83  tlocfield6  121 non-null    object
 84  updated     20205 non-null  object
 85  updatedby   20181 non-null  object
 86  used        19599 non-null  object
 87  widthin     20205 non-null  float64
 88  ppid        20205 non-null  object
dtypes: float64(4), int64(5), object(80)
memory usage: 13.9+ MB
None

/Users/selinamangaroo/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (41,82,83) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [2]:
df.head(10)

,type,accessno,caption,catby,catdate,cattype,classes,collection,collector,conddate,...,title,tlocfield1,tlocfield3,tlocfield4,tlocfield6,updated,updatedby,used,widthin,ppid
1,physical_object,1937.095,NaN,NaN,NaN,History,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-11-30T12:32:03,"Harren, Ryan",...,0.0,892ADCD5-A397-4AD3-944E-271560499761
2,physical_object,1937.095,NaN,NaN,NaN,History,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2015-01-07T15:01:55,"Lawrence, Sherry",...,0.0,29555612-E991-429B-8BE9-950596875541
3,physical_object,1937.095,NaN,NaN,NaN,History,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2015-01-07T11:46:22,"Lawrence, Sherry",...,0.0,3101048D-22EA-4D87-A148-794240796194
4,physical_object,1937.095,NaN,"Clarey, Cara",2006-05-09,History,NaN,NaN,NaN,2019-06-13,...,NaN,NaN,NaN,NaN,NaN,2019-06-13T09:37:10,"Goodmanson, Erik",...,0.0,573A2115-8D62-4289-9CFF-054204432052
5,physical_object,1941.235,NaN,"Lawrence, Sherry",2006-08-19,History,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2014-10-20T10:57:16,"Prichard, Kate",...,0.0,0C7A05B4-E8F4-49CF-964C-982518351840
6,physical_object,1944.425,NaN,"Lawrence, Sherry",2006-08-17,History,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2014-11-26T16:22:19,"Prichard, Kate",...,0.0,08B02CF4-2E18-4182-B00C-570842835530
7,physical_object,1948.635,NaN,"Lawrence, Sherry",2006-08-17,History,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2014-10-20T10:57:16,"Prichard, Kate",...,0.0,35150EF9-D6AF-461C-B85C-180814665610
8,physical_object,1948.635,NaN,"Lawrence, Sherry",2006-08-21,History,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2014-10-20T10:57:16,"Prichard, Kate",...,0.0,1E3EDFE4-6C02-4AF0-B33A-401801327971
9,physical_object,1948.635,NaN,NaN,NaN,History,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2012-03-17T15:22:39,Sherry Lawrence,...,0.0,4B124671-9CCE-43BE-BEF7-278782658157
10,physical_object,2006.236,NaN,NaN,NaN,History,NaN,NaN,NaN,2020-10-15,...,NaN,NaN,NaN,NaN,NaN,2020-10-29T12:55:01,"Goodmanson, Erik",Susan Hench ...,0.0,74851969-2D58-4793-A8C9-210070533581

In [9]:
df.loc[(df.type == 'physical_object'),'type'] = 'artifact'

In [10]:
new_df = df[["objectid", "objname", "type", "descrip", "date", "notes", "invnby", "invndate", "material"]]
new_df = new_df.head(10)
new_df

,objectid,objname,type,descrip,date,notes,invnby,invndate,material
1,1937.095.003,Bodice,artifact,Bodice; velvet fabric; royal blue; lined with ...,1857,Change item # on garment from 1937.095.001 a t...,"Lawrence, Sherry",2006-07-20,Textile
2,1937.095.001,Skirt,artifact,(b) Skirt; Sides and front are patterned silk ...,1857,NaN,"Lawrence, Sherry",2006-07-20,Textile
3,1937.095.009,Skirt,artifact,"Velvet; royal blue; three panels; 42-1/2""L; 7""...",1857,Change Item # on garment from 1937.095.001 c t...,NaN,NaN,Textile
4,1937.095.002,"Uniform, Military",artifact,Uniform Coat: Civil War: Uniform fitted frock ...,NaN,Coat worn by Infantry Capt. Dennis H. Williams...,"Goodmanson, Erik",2019-06-13,Textile
5,1941.235.001,"Gown, Wedding",artifact,"Gown, Wedding; Two-piece wedding gown; faille ...",1886,Minnie Dansingburg married Walter J. Airs on O...,"Lawrence, Sherry",2006-08-17,Textile
6,1944.425.001,"Gown, Wedding",artifact,"Gown, wedding; satin fabric; deep ivory; one-p...",1880,"Wedding dress of Martha Helen Cross, who marri...","Lawrence, Sherry",2006-08-17,Textile
7,1948.635.039,"Gown, Wedding",artifact,"Gown, Wedding; bodice, white wool challis fab...",1873,"Donation made by Flora Bliss and her sister, M...","Lawrence, Sherry",2006-08-17,Textile
8,1948.635.039 b,"Gown, Wedding",artifact,"Gown; Wedding gown skirt, white challis wool; ...",1873,NaN,"Lawrence, Sherry",2006-08-21,Textile
9,1948.635.039 c,Scrap,artifact,"Two cut and sewn pieces, with stitches undone....",1873,NaN,NaN,NaN,NaN
10,2006.236.001,Suit,artifact,"Linen fabric; navy color; 39""L shoulder to hem...",1912,NaN,"Goodmanson, Erik",2020-10-15,Textile

In [11]:
new_df.to_csv('migrate_data.csv')